@import "tailwindcss";

@theme {
  --font-sans: var(--font-open-sans);
  --font-display: "Inter", "sans-serif";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}
